.auth {
  background-color: #f5683d;
  height: 100vh;
  padding-top: 110px;
  position: relative;

  &--register {
    background-color: #01ceb8;
  }


  &__form {
    background-color: #ececec;
    max-width: 330px;
    height: 370px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    background-color: #ffd200;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    top: -11%;
    right: 36%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('./images/user-shadow.png');
    background-repeat: no-repeat;
    background-position: 74% 88%;
  }

  &__circle-shadow {
    position: absolute;
    top: -9%;
    left: 37%;
  }

  &__shadow {
    &--long {
      position: absolute;
      left: 41.4%;
      top: 9.5%;
    }
  }

  &__user {
  }

  &__title {
    color: #333333;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 29px;
    margin-bottom: 35px;
  }

  &__input {
    background-color: #d3d3d3;
    border: none;
    max-width: 270px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    &::placeholder {
      font-size: 18px;
      font-weight: 400;
      font-family: Lato, sans-serif;
    }
  }

  &__submit {
    background-color: #4591fb;
    border: none;
    border-bottom: 4px solid #3e82e1;
    width: 100%;
    max-width: 270px;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ececec;
    margin-bottom: 27px;
    &:hover {
      cursor: pointer;
    }
  }

  &__flip {
    > a {
      color: #f5683d;
      font-family: Lato, sans-serif;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__error {
    color: red;
    margin-bottom: 10px;
  }
}
